.App {
    text-align: center;
}

.users {
    border: 1px solid #76ac26;
    max-height: 550px;
}

.header {
    margin-bottom: 0px;
}


/* changing default Materialize styles */

.input-field {
    margin-top: 0 !important;
}

.submitBtn {
    margin-bottom: 10px;
    width: 90%;
    background-color: #76ac26 !important;
}